<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% include "navbar.html" %}

    <h2>CRUD: Read a Task</h2>


    {% for task in tasks %}


    {{task.id}}
    <br>
    {{task.title}}
    <br>
    {{task.content}}
    <br>

    <a href="{% url 'updateTask' task.id %}">Update Task</a>
    <br>

    <a href="{% url 'deleteTask' task.id %}">Delete Task</a>
    <br><br>


    {% endfor %}





</body>
</html>